<h1>Create Log</h1>
<form ng-submit="createLog.create()">
    <input type="text"
           ng-model="createLog.description"
           placeholder="Description"
           class="form-control">
    <select name="teamSelect"
            ng-model="createLog.team"
            ng-options="team.name for team in createLog.allTeams | filter: createLog.currentUser"
            class="form-control">
        <option value="">Select Team</option>}
    <input type="text"
           ng-model="createLog.thermometer"
           placeholder="Thermometer Serial Number"
           class="form-control">
    <input type="submit"
           value="Create Log"
           class="btn btn-primary auth-btn">
</form>

<h2>(( createLog.team ))</h2>
